.chat_actions {
    border-top: 1px solid #c5c4c4;
    padding: 7px;
    text-align: right;

    .send_button {
        padding: 8px;
        border-radius: 20px;
        border: 2px solid #2323f9;
        color: #2323f9;
        font-weight: bold;
        cursor: pointer;
        outline: none;
    }
}